@import "~/.config/rofi/config.rasi"

listview {
    scrollbar: false;
    lines: 1;
    columns: 4;
}

inputbar {
    enabled: false;
}

element {
    orientation: vertical;
}

element-icon {
    size: 250px;
    background-color: transparent;
}

element-text {
    horizontal-align: 0.5;
}