* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMonoNL Nerd Font", "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

/* BASE STYLES */

window#waybar {
    background: linear-gradient(180deg, rgba(13, 0, 21, 0.3) 0%, rgba(0,0,0,0) 100%);
}

#workspaces {
    background: linear-gradient(180deg, 
        #2a202f 0%,
        #28192e 100%
    );
    color: #d5bfe2;
    padding: 2px 2px;
    margin: 1px 1px;
    border-radius: 10px;
    border-bottom: 0px solid #8e6ca0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

#workspaces button,
#workspaces button.active {
    padding: 0px 10px;
    margin: 1px 2px;
    border-radius: 8px;
    min-width: 15px;
    border-bottom: 2px solid #8e6ca0;
}

#audio,
#connections,
#nowplaying,
#custom-add_workspace,
#custom-launcher,
#custom-connections,
#custom-nowplaying,
#network,
#pulseaudio,
#clock,
#custom-audio_cycle,
#custom-playpause,
#custom-skip,
#bluetooth {
    background: linear-gradient(180deg, 
        #2a202f 0%,
        #28192e 100%
    );
    color: #d5bfe2;
    padding: 5px 15px;
    margin: 4px 4px;
    border-radius: 8px;
    min-width: 15px;
    border-bottom: 2px solid #8e6ca0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

/* NOT USED START */
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#tray,
#mode,
#idle_inhibitor,
#mpd,
/* NOT USED END */

#custom-mod_switcher,
#custom-keyboard,
#custom-ddc1,
#custom-tapo,
#custom-ddc2 {
    background: linear-gradient(180deg, 
        #d5bfe2 0%,
        #c8b3d4 100%
    );
    color: #2a202f;
    padding: 5px 15px;
    margin: 4px 4px;
    border-radius: 8px;
    min-width: 15px;
    border-bottom: 2px solid #88639b;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

#custom-power,
#custom-close_window {
    background: linear-gradient(180deg, 
        #bb5353 0%,
        #e26565 100%
    );
    color: #ffffff;
    padding: 0 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    font-size: 16px;
    border-bottom: 2px solid #652e2e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

/* CUSTOM STYLES */

#custom-power:hover,
#custom-close_window:hover {
    background: linear-gradient(180deg, 
        rgb(168, 75, 75) 0%,
        #ff8888 100%
    );
}

#workspaces button.active {
    background: linear-gradient(180deg, 
        #302536 0%,
        #2a202f 100%
    );
}

#custom-mod_switcher:hover,
#custom-keyboard:hover,
#custom-ddc1:hover,
#custom-tapo:hover,  
#custom-ddc2:hover {
    background: linear-gradient(180deg, 
        #bda6ca 0%,
        #f4e7fc 100%
    );
}

#workspaces button:hover,
#custom-add_workspace:hover,
#workspaces button.active:hover,
#custom-launcher:hover,
#custom-connections:hover,
#custom-nowplaying:hover,
#network:hover,
#pulseaudio:hover,
#clock:hover,
#custom-audio_cycle:hover,
#bluetooth:hover,
#custom-playpause,
#custom-skip,
#nowplaying #custom-playpause:hover,
#nowplaying #custom-skip:hover,
#audio #pulseaudio:hover,
#audio #custom-audio_cycle:hover,
#connections #bluetooth:hover,
#connections #network:hover {
    background: linear-gradient(180deg, 
        #231a27 0%,
        #593b67 100%
    );
}

#workspaces button {
    border-bottom: 0px solid transparent;
}

/* CUSTOM PADDING */

#custom-power {
    padding: 0px 12px 0px 8px;
}

#custom-keyboard {
    padding: 0px 13px 0px 7px;
}

#custom-audio_cycle,
#custom-mod_switcher {
    padding: 0px 10px 0px 10px;
}

#custom-add_workspace {
    padding: 0 11px 0 9px;
}

/* DRAWER STYLES */

#audio,
#nowplaying,
#connections {
    padding: 0;
}

#audio #pulseaudio,
#audio #custom-audio_cycle,
#nowplaying #custom-nowplaying,
#nowplaying #custom-playpause,
#nowplaying #custom-skip,
#connections #custom-connections,
#connections #bluetooth,
#connections #network {
    background: transparent;
    border: none;
    border-bottom: none;
    margin: 0;
}
